<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rpallas.usjandroidejer1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Ejercico1Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CIFActivity"
            android:label="@string/title_activity_cif" >
        </activity>
        <activity
            android:name=".DatosEmpresaActivity"
            android:label="@string/title_activity_datos_empresa" >
        </activity>
        <activity
            android:name=".DepositoActivity"
            android:label="@string/title_activity_deposito" >
        </activity>
        <activity
            android:name=".ResultadosActivity"
            android:label="@string/title_activity_resultados" >
        </activity>
        <activity
            android:name=".PuntoLimpioActivity"
            android:label="@string/title_activity_punto_limpio" >
        </activity>
        <activity
            android:name=".DominioActivity"
            android:label="@string/title_activity_dominio" >
        </activity>
    </application>

</manifest>
